<div class="column is-half is-offset-one-quarter">
  <div class="content is-centered">
    <h1>About Sprouted</h1>

    <p>Densely populated cities and urban sprawl has removed people from the land and put them in apartment buildings and units with minimal outdoor space. This in turn removes the ability for communities to be food secure - they cannot grow their own food because they do not have the space to grow it. Children growing up in these environments lack the exposure to the origin of their food, and thus lack an understanding of the difference between healthy, homegrown fruit and vegetables and more heavily processed food bought from a supermarket.</p>

    <p>Conversely, there is a large amount of under-utilised space within cities. Some homeowners are lucky enough to have gardens but lack the time, money or inclination to grow food in them. Businesses have rooftops that aren't being used because they have no need for the outdoor space. Councils have large amounts of land that aren't being used because they don't have the money to develop them.</p>

    <p>Sprouted is a way of connecting this land with the people who have the time and desire to grow food on it. Sprouted helps people reconnect with where their food comes from.</p>
  </div>
</div>
